### liste de vingt datasets open sources classés par ordre de difficulté croissante

 * Iris Flower Dataset : https://archive.ics.uci.edu/ml/datasets/iris
 * Wine Quality Dataset : https://archive.ics.uci.edu/ml/datasets/wine+quality
 * Boston Housing Dataset : https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html
 * Pima Indians Diabetes Dataset : https://www.kaggle.com/uciml/pima-indians-diabetes-database
 * Breast Cancer Wisconsin (Diagnostic) Dataset : https://www.kaggle.com/uciml/breast-cancer-wisconsin-data : https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset

 * Heart Disease Dataset : https://archive.ics.uci.edu/ml/datasets/heart+disease
 * Abalone Dataset : https://archive.ics.uci.edu/ml/datasets/abalone
 * Banknote Authentication Dataset : https://archive.ics.uci.edu/ml/datasets/banknote+authentication
 * Forest Fires Dataset : https://archive.ics.uci.edu/ml/datasets/forest+fires
 * Energy Efficiency Dataset : https://archive.ics.uci.edu/ml/datasets/energy+efficiency

 * Airfoil Self-Noise Dataset : https://archive.ics.uci.edu/ml/datasets/Airfoil+Self-Noise
 * Concrete Compressive Strength Dataset : https://www.kaggle.com/maajdl/yeh-concret-data
 * Appliances Energy Prediction Dataset : https://archive.ics.uci.edu/ml/datasets/Appliances+energy+prediction
 * Red Wine Quality Dataset : https://archive.ics.uci.edu/ml/datasets/wine+quality
 * White Wine Quality Dataset : https://archive.ics.uci.edu/ml/datasets/wine+quality
 
 * Bike Sharing Dataset : https://archive.ics.uci.edu/ml/datasets/Bike+Sharing+Dataset
 * House Sales in King County, USA Dataset : https://www.kaggle.com/harlfoxem/housesalesprediction
 * Credit Card Fraud Detection Dataset : https://www.kaggle.com/mlg-ulb/creditcardfraud
 * Human Activity Recognition Using Smartphones Dataset : https://archive.ics.uci.edu/ml/datasets/human+activity+recognition+using+smartphones
 * Global Terrorism Database : https://www.start.umd.edu/gtd/

In [2]:
import pandas as pd

In [3]:
iris_data = pd.read_csv('Datasets/iris.data', header=None)
iris_data.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
wine_quality_data = pd.read_csv('Datasets/winequality-red.csv')
wine_quality_data = pd.read_csv('Datasets/winequality-white.csv')
wine_quality_data.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

In [5]:
# spécifier les noms de colonnes
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

# charger le fichier dans un DataFrame
df = pd.read_csv('Datasets/boston.data', delim_whitespace=True, header=None, names=column_names)

# afficher les premières lignes du DataFrame
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.00,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,NaN,NaN,NaN
1,396.90000,4.98,24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02731,0.00,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,NaN,NaN,NaN
3,396.90000,9.14,21.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.02729,0.00,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,NaN,NaN,NaN

In [6]:
df = pd.read_csv('Datasets/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df = pd.read_csv('Datasets/breast-cancer-wisconsin.csv')
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [10]:
df = pd.read_csv('Datasets/heart_disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0